@-ms-viewport {
    user-zoom: fixed;
    max-zoom: 2;
    min-zoom: 2;
}

body,
html {
    margin: 0;
    overflow: hidden;
    -ms-content-zooming: none;
    -ms-overflow-style: none !important;
    background-color: #A8A8A8;
    width: 720px;
    height: 480px;
}