<div class="ui black inverted top fixed menu">
	<a class="item">
		<serp-message iDefaultText="Take Order" iMessageId="1"></serp-message>
	</a>
	<a class="item">
		<serp-message iDefaultText="Kitchen" iMessageId="2"></serp-message>
	</a>
	<a class="item">
		<serp-message iDefaultText="Kiosk" iMessageId="3"></serp-message>
	</a>
	<div class="right labeled icon menu">
		<a href="" class="item">
			<i class="green inverted circular dollar large loading icon"></i>
			<serp-message iDefaultText="Sales" iMessageId="4"></serp-message>
		</a>
	</div>
</div>