<div class="ui two cards">
    <div class="ui card">
        <div class="content center aligned segment text">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>

            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content center aligned segment text">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>
                <span class="item">炒飯</span>
                <span class="item">炒飯</span>
                <span class="item">炒飯</span>
                <span class="item">炒飯</span>
                <span class="item">炒飯</span>
            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content center aligned segment text">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>

            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content center aligned segment text">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>

            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content center aligned">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>

            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content center aligned">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>

            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content center aligned">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>

            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content center aligned">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>

            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content center aligned">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>

            </div>
        </div>
    </div>
    <div class="ui card">
        <div class="content center aligned">
            <div class="header">Table No: 1</div>
            <div class="meta">Order on: 18:31</div>
            <div class="ui ordered list left aligned">
                <span class="item">古老肉飯</span>
                <span class="item">炒飯</span>

            </div>
        </div>
    </div>
</div>