html {    
    font-size: 18px; /* this is to control overall page size */
}

/* semantic-ui modifications */
div {
    &.basic {
        &.segment {
            font-size: 18px; /* huge large medium small tiny */
        }
    }

    &.page {
        &.break {
            padding-bottom: 100%;
        }
    }
}